  .hero__content{
    max-width: 1360px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 48px;
    .hero__swiper__group{
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px;
      .swiper__big{
        width: 100%;
        height: 640px;
        border-radius: 12px;

        .play__btn{
          &:hover{
            background: none;
            border-color: #C61F1F;
            color: #C61F1F;
          }
        }
      }
      .swiper__small{
        width: 50%;
        height: 90px;
      }
    }
  }
  
  .swiper__small .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }
  
  .swiper__small .swiper-slide-thumb-active {
    opacity: 1;
  }
  