.image__carusel{
    &:hover .doctor{
        transform: scale(1.2);
        transition: .5s;  
    }
}
.image__carusel{
    &:hover .hover__box{
        opacity: 1;
        transition: .2s;  
    }
}

.category__btn{
    &:hover{
        background: none;
        border-color: #C61F1F;
        color: #C61F1F;
    }
}

